/* ESTILOS GENERALES */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}
img{
    max-width: 100%;
}
body{
    font-family: 'Roboto Slab', serif; 
}
h1{
    font-family: 'Oswald', sans-serif;
}
h2{
    font-family: 'Oswald', sans-serif;

}
/*ESTILOS CABEZERA Y NAV */
.navestilo{
    height: 7rem;
    background-color: #1D1C0D;
}
.menur{ 
    border: solid 0.5rem #94935D;
    font-size: 2rem;
}
.container a{
    font-size: 3rem;
    font-family: 'Oswald', sans-serif;
    text-decoration: none;
    color: aliceblue;
}
.container a:hover{
    color: #F2FF00;
}
.hover a:hover{
    color: #F2FF00;

}
.color_menu{
    background-color: #94935D;
}
.icon_menu{
    position: relative;
    top:-0.5rem;
    margin-right: 2rem;
    font-size: 2.5rem;
}

.redes img{
    width: 160px;
    height: 160px;
    border:solid 10px aliceblue;
    border-radius: 90%;
    background-image: url(../assets/img/perfil.JPG);
    background-size: cover;
    object-fit: cover;
    order: 1;

}
.redes{
    display: flex;
    align-items: center;
}
.redes a{
    font-size: 4rem;
    margin: 3rem;
    color: aliceblue; 
    order: 2;

}
#what{
    color:#25D366;
}

/* ESTILOS SLIDER */
.cont_slider{
    height: 80vh;
    background-image: url(../assets/img/f_sliderd.jpg);
    background-size:cover;
    background-attachment: fixed;

}
.filtro{
    height: 100%;
    backdrop-filter:blur(2px);
} 
.slider{
    width: 80%;
}
.carousel-item{
    height: 70vh;
}
.carousel-item img{
    height: 100%;
    object-fit:contain; 
}
    
/* ESTILOS MAIN */

/* SECCION SOBRE MI */
.sobre__mi{
    height: 50rem;
    padding-left: 400px;
    padding-top: 60px;
    background-image: url(../assets/img/yo_c.JPG);
    background-attachment: fixed;
    background-size: cover;
    padding: 90px;
}
.sobre__mi h2{
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: 10px;
    margin-bottom:1rem;
}
.sobre__mi p{
    font-size: 2rem;
}
.sobre_mi_text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: fit-content;
    padding: 2rem 3rem;
    height: 100%;
    color: #fff;
    border-radius: 1rem;
    background-color: rgba(0,0,0,0.3);
    backdrop-filter:blur(5px);
}
/* SECCION PORTFOLIO */
#portfolio{
    min-height: 50rem;
    max-height:100%;
    background-image: url(../assets/img/fondo_port.JPG);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#portfolio h2{
    text-align: center;
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: 10px;
    background-color: rgba(240, 248, 255, 0.24);
    margin-bottom: 5rem;
}
.porfolio_card{
    background-color:rgb(148, 147, 93,0.3);
    backdrop-filter:blur(5px);
    border-radius: 0.5rem;
    box-shadow:0 0 10px #1D1C0D;
}
.text p{
    font-size: 1.5rem;
    color: aliceblue;
    letter-spacing:2px;
}
.text a{
    font-size: 2.5rem;
    background-color: #25D366;
    font-family: 'Oswald', sans-serif;
    border: 0.8rem solid #25D366;
    color: aliceblue;
    transition: all 400ms;
}
.text a:hover{
    color: #25D366;
    background-color: aliceblue;
}

/* ESTILOS PAGINAS */

/* PAGINA GALERIA */
.main__galeria{
    background-image: url(../assets/img/denim.webp);
    color: aliceblue;
}
.section__galeria{
    padding: 50px;
}
.section__galeria h2{
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: 10px;
    margin-bottom: 10px;
}
.section__galeria p{
    font-size: 2rem;
    margin-bottom: 50px;
}
.hover_img img{
transition:all 1s;
}
.hover_img img:hover{
    transform: scale(1.1,1.1);
    cursor: pointer;
}
/* PAGINA VIDEO */
.main__video{
    display: flex;
    background-image: url(../assets/img/denim.webp);
    color: aliceblue;
    align-items: center;
    justify-content: center;
    padding: 5rem;
}
.section__videos h2{
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: 10px;
    margin-bottom: 10px;
}
.section__videos p{
    font-size:2rem;
    margin-bottom: 50px;
}
/* PAGINA CV */
.main__cv{
    background-image: url(../assets/img/denim.webp);
    color: aliceblue;
}
.section__cv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem;
}
.section__cv h2{
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: 10px;
    margin-bottom: 10px;
}
.section__cv p{
    font-size:2rem;
    padding-bottom: 50px;   
}
.bton_descargar{
    display: flex;
    width: 18rem;
    height: 4rem;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    color: #1D1C0D;
    background-color:#F2FF00;
    align-items: center;
    justify-content: center;
    box-shadow: 1rem 1rem 1px rgba(0,0,0,0.8);
}
.bton_descargar:hover{
    cursor: pointer;
}
/* PAGINA CONTACTO */
.main__contacto{
    background-image: url(../assets/img/denim.webp);
    color: aliceblue;
}
.section__contacto{
    display: flex;
    padding: 50px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.section__contacto h2{
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: 10px;
    margin-bottom: 1rem;
}
.section__contacto p{
    font-size: 2rem;
    margin-bottom: 50px;
} 
.section__contacto2{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    padding-bottom: 5rem;
}
.map{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45rem;
    height: 35rem;
    background-color: #94935D;
    box-shadow: 0px 0px 16px 9px rgba(0,0,0,1);
    -webkit-box-shadow: 0px 0px 16px 9px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 16px 9px rgba(0,0,0,1);
    margin-right: 20rem;    
}
.map iframe{
    padding: 0px auto;
}
.link a{
    font-size: 7rem;
    margin: 20px;
    color: #F2FF00;
}
/* ESTILOS FOOTER */
footer{
    background-color: black;
    /* height: 150px; */
    display: flex;
    flex-direction: column;
}
.footer__nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:2rem;
   
}
.footer__nav a{
    color: aliceblue;
    text-decoration: none;
    font-size: 2rem;
    letter-spacing: 5px;
    margin-bottom: 3rem;
}
.footer__nav a:hover{
    color: #F2FF00;
    
}
.footer__redes{
    display: flex;
    justify-content: space-around;
}   
.footer__redes a{
    font-size: 4rem;
    margin: 10px;
    color: aliceblue;
} 
.footer__redes a:hover{
    color: #F2FF00;
}

.footer__section__1{
    height: 40px;
    background-color:#1D1C0D;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: aliceblue;
    padding: 2rem;
}
/* responsive */
/* FOOTER */
@media(min-width:768px){
    .footer__nav{
        flex-direction: row;
        justify-content: space-around;
        padding-top: 5rem;    
        height: 1rem;
    }
    .footer__redes{
        justify-content: center;
        height: 12rem;
    }
    .footer__redes a{
        margin: 5rem;
    }

}


